*.tar.gz
*.whl
.python-version
.env
.env.*
*.log
.ipynb_checkpoints/
.pyright/
.tox/
uv.lock

venv/
.venv/
env/
test_env/

__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/

.mypy_cache/
.pytest_cache/
.ruff_cache/